{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="home">
    <section class='left'>
        <section class="featured">
            
            <div class="feature-article-txt card border-light mb-3">
                <h3 class="card-header" style="font-weight: 700"> {{ feature.title }} </h3>
                
                <div class='feature-article-img mb-3'>
                {% if feature.lead_photo %}
                <img src="{{ feature.lead_photo }}" alt="">
                {% else %}
                <img src="https://picsum.photos/900/400" alt="">
                {% endif %}
                </div>
                
                <p class='body'> {{ feature.content|slice:200|safe }} </p>

                <p class='body'><a href="{% url 'article' feature.slug  %}" class="btn btn-primary" style="margin:0">Read More &rarr;</a></p>

                <p class='created'>{{feature.author}} on {{feature.created_on|date:"F j Y"}}</p>
            </div>
        </section>
        <section class="recent">
            {% for post in recent %}
            <div class="card mb-3">
                <h3 class="card-header" style="font-weight: 700">{{post.title}}</h3>
                {% if post.lead_photo %}
                <img style="height: auto; width: 100%; display: block;" src="{{ post.lead_photo }}" alt="Card image">
                {% else %}
                <img style="height: 200px; width: 100%; display: block;" src="https://picsum.photos/900/400" alt="Card image">
                {% endif %}

                
                <div class="card-body">
                <p class="card-text">{{ post.content|slice:100|safe }} </p>
                <a href="{% url 'article' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </section>
    </section>

    <aside class="more">
        <section class='about'>
        <h3> About the Blog </h3>
        <p> I'm working on this blog partly as procrastination from a larger project, and partly because it's an idea I've had for a while that also gives me the opportunity to practice with Python and Django </p>
        </section>

        <section class='social'>
            <a class="twitter-timeline" data-width="350" data-height="1000" href="https://twitter.com/ToeInTheCrease?ref_src=twsrc%5Etfw">Tweets by ToeInTheCrease</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </section>
    </aside>
</main>


{% endblock content %}

