.heading{
    width: 100%;
    padding: 0.25em;
    text-align: center;
    font-size: 2.5em;
    background-color: white;
    font-family: 'Alfa Slab One', cursive;
}

body{
    background-color: rgba(72, 110, 180, 0.712) !important;
}

/*====================================== 
          INDEX PAGE 
========================================*/

.home{
    width: 80%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 1em;
    background-color: white !important;
    padding: 0.5em;
}

.left{
    display: grid;
    grid-template-rows: fit-content(30%);
    grid-gap: 1em;
}

.featured{
    grid-column-start: 1;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.05);
}

.recent{
    grid-column-start: 1;
    grid-row-start: 2;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.05);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
}

.more{
    grid-column-start: 2;
    grid-row-start: 1;
    display: grid;
    grid-template-rows: 16em auto;
    gap: 1em;
}

.about{
    grid-row-start: 1;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 1em;
}

.social{
    grid-row-start: 2;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.05);
    text-align: center;
}


.feature-article-img{
    width: 90%;
    margin: 0.5em auto;
    height: auto%;
    text-align: center;
}

.feature-article-img > img{
    margin: 0 auto;
    max-width: 100%;
    height: inherit;
}

.feature-article-txt{
    width: 90% !important;
    margin: 1em auto !important;
}

.feature-article-txt > .body{
    padding: 0.5em 0.5em 0em 0.5em;
    margin: 0;
}

.feature-article-txt > .created{
    padding: 0.25em 0.5em;
    margin: 0;
    opacity: 0.7;
}

/*====================================== 
          ALL POSTS PAGE 
========================================*/

.post-list{
    margin: 1em;
}

/*====================================== 
          SINGLE POSTS PAGE 
========================================*/

.article{
    width: 60%;
    margin: 1em auto;
}

.post-content img {
    display: block;
    margin: 0 auto;
}

/*====================================== 
          Responsive Home PAGE 
========================================*/

@media only screen and (max-width: 1000px) {
    .home{
        width: 100%;
        margin: 1em auto;
        display: grid;
        grid-template-columns: 5fr 2fr;
        grid-gap: 1em;
        background-color: white !important;
        padding: 0.5em;
    } 
    .article{
        width: 80%;
        margin: 1em auto;
    }
  }

  @media only screen and (max-width: 800px) {
    .home{
        width: 100%;
        margin: 1em auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        background-color: white !important;
        padding: 0.5em;
    } 
    .more{
        grid-column-start: 1;
        grid-row-start: 3;
        display: grid;
        grid-template-rows: 16em auto;
        gap: 1em;
    }
    .left{
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 1em;
    }
    .recent{
        grid-column-start: 1;
        grid-row-start: 2;
        width: 100%;
        border: 1px solid rgba(0,0,0,0.125);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        padding: 1em;
    }
    .article{
        width: 90%;
        margin: 1em auto;
    }

  }